<mat-card class="cardstyle" [style.overflow]="'auto'">
  <mat-card-header>
    <mat-card-title><b role="button" style="cursor:pointer;" (click)="viewMovie()">{{movie.name}}</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="media">
      <img class="mr-3" style="cursor:pointer;" src="../../../assets/{{movie.image}}" alt="Generic placeholder image" (click)="viewMovie()">
      <div class="media-body">
        <h5 class="mt-0">{{movie.rating}}</h5>
        <h5 class="mt-0">{{movie.genre}}</h5>
        <div class="hideOnMobile" *ngIf="showDescription=='false'" >{{movie.summary}}</div>
        <div *ngIf="showDescription=='true'" >{{movie.summary}}</div>
      </div>
    </div>                  
  </mat-card-content>
</mat-card>