/* You can add global styles to this file, and also import other style files */
body { margin: 0; }
 
.shortRow {
    height: 10px;
  }

 .example-card {
    max-width: 600px;
  }

  /*To disable user text selection, 
  it is sufficient to add a custom CSS rule that applies 
  to any HTML element except for the input fields.*/
  * {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    input {
      -webkit-user-select: auto !important;
      -khtml-user-select: auto !important;
      -moz-user-select: auto !important;
      -ms-user-select: auto !important;
      user-select: auto !important;
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
